@base-url: "./../../assets/";

/* Media */

@smartphones: ~"only screen and (max-width: 767px)";
@x-large-desktop: ~"only screen and (min-width: 1200px) and (max-width: 1407px)";
@large-desktop: ~"only screen and (min-width: 1024px) and (max-width: 1199px)";
@desktop: ~"only screen and (min-width: 800px) and (max-width: 1023px)";
@tablet: ~"only screen and (min-width: 768px) and (max-width: 799px)";
@small-tablet: ~"only screen and (min-width: 600px) and (max-width: 767px)";
@large-mobile: ~"only screen and (min-width: 480px) and (max-width: 599px)";
@mobile: ~"only screen and (min-width: 319px) and (max-width: 479px)";
@mobile-landscape: ~"only screen and (min-device-width: 320px) and (max-device-width: 599px)";
@mob-landscape: ~"only screen and (max-height: 520px)";
@small-mob-landscape: ~"only screen and (max-height: 400px)";
@xx-large-desktop: ~"only screen and (min-width: 1408px) and (max-width: 1679px)";
@xxx-large-desktop: ~"only screen and (min-width: 1680px) and (max-width: 1919px)";
@xxxx-large-desktop: ~"only screen and (min-width: 1920px)";


/* Themes */
/* Link Colors */
@link-color: #0091ff;
@link-color-hover: #117fda;

/* Button Colors */
/* Primary */
@btn-primary-color: #4f8303;
@btn-primary-color-hover: #61980f;
@btn-primary-text: #ffffff;
@btn-primary-disabled: rgba(79, 131, 3, 0.5);